body {
  font-family: 'Lato', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: #f4f4f4;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 70%;
  position: relative; 
}

#calendar {
  width: 50%;
  height: 70%;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

#month {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.arrow {
  cursor: pointer;
}

#monthName {
  font-size: 2.4em;
  font-weight: bold;
}

#weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
  margin-bottom: 10px;
}

.weekday {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  color: #666;
}

.weekday:nth-child(7) {
  color: blue;
}

.weekday:nth-child(1) {
  color: red;
}

#days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
}

.day {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
  
}


.day.today {
  background-color:  rgba(211, 211, 211, 0.5);
}

.day.selected {
  background-color: #ff7453 !important;
  color: #fff !important;
}

.day.today.selected {
  background-color: #ff7453 !important;
  color: #fff !important;
}


.day.hasMemo::after {
  content: "";
  display: inline-block;
  width: 5px;
  height: 5px;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  top: 3px;
  right: 3px;
}

#memo {
  width: 25%;
  height: 25%;
  padding: 10px;
  background-color: #ffffe0;
  border-radius: 7px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: absolute; 
  display: none;
  top: 30%;
  right: -10%;
}

#selectedDate {
  font-size: 1.5em;
  margin: 0;
}

#memoText {
  font-family: 'Lato', sans-serif;
  width: 100%;
  height: 60%;
  background-color: #ffffe0;
  font-size: 1.2em;
  margin-bottom: 10px;
  margin-top: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

#saveMemo {
  width: 25px;
  height: 25px;
  padding: 0px;
  background: none;
  color: gray;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2em;
  text-align: center;
  line-height: 25px;
  position: absolute;
  right: 5px; 
  top: 5px; 
}
